@media (prefers-color-scheme: dark) {
  .canvas {
    /* Gradient Color */
    --gradient-color-1: #000000;
    --gradient-color-2: #a138d2;
    --gradient-color-3: #5bf8eb;
    --gradient-color-4: #000000;
  }
}
.canvas {
  /* Gradient Color */
  --gradient-color-1: #a138d2;
  --gradient-color-2: #a138d2;
  --gradient-color-3: #5bf8eb;
  --gradient-color-4: #5bf8eb;
  height: 100vh;
  width: 100%;
}
