@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --gradient-color-1: #a138d2;
    --gradient-color-2: #a138d2;
    --gradient-color-3: #5bf8eb;
    --gradient-color-4: #5bf8eb;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --gradient-color-1: #a138d2;
    --gradient-color-2: #a138d2;
    --gradient-color-3: #5bf8eb;
    --gradient-color-4: #5bf8eb;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.gradient {
  background: linear-gradient(
    225.72deg,
    #14014b 5.04%,
    #000000 87.09%,
    #ff3326 101.36%
  );
}

#logo {
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0.08;
  white-space: nowrap;
  pointer-events: none;
}

#logo > img {
  height: 3.2vmin;
}

#background-image,
#background-filter {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

#background-filter {
  z-index: 2;
  background: radial-gradient(rgb(0 0 0 / 60%) 50%, transparent);
}

#control-bar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 0.5rem;
}

.toggle {
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 0.25rem;
  height: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.toggle:is(:hover, :focus-visible) {
  background-color: rgb(255 255 255 / 15%);
}

.toggle > i {
  color: white;
  display: none;
  height: 1rem;
  width: 1rem;
  font-size: 0.6rem;
  line-height: 1rem;
  text-align: center;
}

.toggle[data-toggled="true"] > i.on {
  display: block;
}

.toggle[data-toggled="false"] > i.off {
  display: block;
}
